##
# {{ ansible_managed }}

{% for client in postgresql.hba_conf %}
{{ client.type }} {{ client.database | default('all') }} {{ client.user | default('all') }} {{ client.address | default('') }} {{ client.auth_method | default('md5') }} {{ client.auth_options | default('') }}
{% endfor %}
