##
# {{ ansible_managed }}

{#
	All config from `sansible_postgresql_config`
#}
{% for key, value in sansible_postgresql_config.iteritems() %}
{{ key }} = '{{ value }}'
{% endfor %}
data_directory = '{{ sansible_postgresql_data_directory }}'
listen_addresses = '{{ sansible_postgresql_listen_addresses }}'
max_connections = '{{ sansible_postgresql_max_connections }}'
port = '{{ sansible_postgresql_port }}'
shared_buffers = '{{ sansible_postgresql_shared_buffers }}'
timezone = '{{ sansible_postgresql_timezone }}'

hba_file = '/etc/postgresql/{{ sansible_postgresql_version }}/main/pg_hba.conf'
ident_file = '/etc/postgresql/{{ sansible_postgresql_version }}/main/pg_ident.conf'
external_pid_file = '/var/run/postgresql/{{ sansible_postgresql_version }}-main.pid'
unix_socket_directories = '/var/run/postgresql'

{#
	SSL
#}
ssl = {{ sansible_postgresql_enable_ssl }}
{% if sansible_postgresql_enable_ssl == true %}
ssl_cert_file = '{{ sansible_postgresql_ssl_cert_file }}'
ssl_key_file = '{{ sansible_postgresql_ssl_key_file }}'
{% endif %}

log_line_prefix = '%t '
log_timezone = 'UTC'

datestyle = 'iso, dmy'

{#
	locale for:
	* system error message
	* monetary formatting
	* number formatting
	* time formatting
#}
lc_messages = '{{ sansible_postgresql_locale }}'
lc_monetary = '{{ sansible_postgresql_locale }}'
lc_numeric = '{{ sansible_postgresql_locale }}'
lc_time = '{{ sansible_postgresql_locale }}'

default_text_search_config = 'pg_catalog.english'
